{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<article class="w3-text-theme">

<header id="understanding" class="w3-container w3-theme-l4">
  <h2>Three <strong>art</strong> works in <strong>one</strong></h2>
</header>
<div class="w3-container">
  <div class="w3-half w3-padding-right">
  <h4>Pataphysics WTF</h4>
  <p>
    Fania Raczinski's "Pataphysics WTF" project. <a href="https://pata.physics.wtf/">Link</a>
  </p>
  <h4>Transformational Encounters</h4>
  <p>
    Alice Tuppen-Corps' TETTT project.
  </p>
  </div>
  <div class="w3-half">
  <h4>Personal Space</h4>
  <p>
    Dave Everitt's "Personal Space" project. <a href="https://daveeveritt.github.io/space-weather-words/">Link</a>
  </p>
  </div>
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<header id="contact" class="w3-container w3-theme-l4">
  <h2><strong>About us</strong> & Contact</h2>
</header>
<div class="w3-container">
  <p>
    Fania's personal website is <a href="http://fania.uk">fania.uk</a>. You can email her <a href="mailto:pata@physics.wtf?Subject=PataSearch">here</a>.
  </p>
</div>

</article>

{% endblock %}