{% extends "base.html" %}

{% block content %}

<header class="w3-container w3-theme-l5 w3-center">
  <img class="spiral" src="{{ url_for('static', filename='images/spiral.png') }}"/>
  <a href="{{ url_for('index') }}">
    <span class="w3-hide-small">
      <h1 id="msg">transformational. space. poetry</h1>
    </span>
    <span class="w3-hide-large w3-hide-medium">
      <h1>pata. poetry</h1>
    </span>
  </a>
</header>

<section class="w3-card-2 w3-center w3-theme-d3 banner">
  <i class="fa fa-quote-left"></i> {{ getrandquote() }}
    <i class="fa fa-quote-right"></i>
</section>

<article class="w3-text-theme">

<!-- <header class="w3-container w3-theme-l4">
  <h2><i class="fa fa-bullhorn"></i> Welc<span class="mirror">r</span>ome!</h2>
</header> -->
<!-- <div class="w3-container">
  <p>

  </p>
  <p>
    Imagine a search engine that does not return the results you expect, but constantly surprises you and leads you down unpredictably creative avenues. This kind of inspiration is sometimes more desirable than concrete answers and exploratory browsing, with its flexible criteria for satisfying information needs, can provide just that. Instead of relying on arbitrary relevance indicators a more creative approach to filtering and ranking results can improve an exploratory search experience even further. Seemingly useless results can turn out to be the most interesting.
  </p>
</div> -->

<br>

<div class="w3-row">
  <img title="Personal Space by Dave Everitt" class="w3-card-4" src="{{ url_for('static', filename='images/personal-space.png') }}" alt="Personal Space by Dave Everitt" style="width:100%">
</div>

<br>

</article>

{% endblock %}
